html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: flex;
    min-height: 100%;
    flex-wrap: wrap;
    flex-flow: column;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 5rem;
    padding-bottom: 4rem;
    display: inline;
}

h2 {
    padding: 3rem;
    display: block;
    margin: 0;
    font-size: 2.5rem;
}

footer {
    font-weight: bold;
    text-align: center;
    height: max-content;
    flex-basis: 100%;
    height: 100%;
    height: 5rem;
    font-size: 2rem;
    padding-top: 6rem;
}

section {
    flex-basis: 100%;
    float: left;
}

header {
    padding-bottom: 4rem;
    flex-basis: 100%;
    float: left;
}

header img {
    width: 10rem;
    padding: 0;
    margin: 2.6rem;
    border-radius: 100%;
}

.aboutme {
    padding-bottom: 4rem;
    padding-top: 4rem
}

.contact {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #FFFFFF;
        color: #000000;
    }

    a {
        border-bottom: 1px solid #808080;
        color: #000000;
    }

    h1 {
        text-shadow: 0.2rem 0.2rem #808080;
        border-bottom: 1px solid #808080;
    }

    header img {
        border: 0.5rem solid #808080;
        background-color: #808080;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        color: #FFFFFF;
    }

    a {
        border-bottom: 1px solid #FFFFFF;
        color: #FFFFFF;
    }

    h1 {
        text-shadow: 0.2rem 0.2rem #808080;
        border-bottom: 1px solid #FFFFFF;
    }

    header img {
        border: 0.5rem solid #FFFFFF;
        background-color: #FFFFFF;
    }
}